@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow:   scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


:root{
    --f-color:#251d20;
    --issue-6-fc:#e568ac;
    --issue-fc:#fff;
    --fs:18px;
    --issue-5:#00c1b5;
    --issue-4:#ff651a;
    --issue-3:#ffbe00;
    --issue-2:#1d3fbb;
    --issue-1:#e30512;

}



body{
    font-family: 'Roboto', sans-serif;
    color: var(--f-color);
    font-weight: bold;
    font-size: var(--fs);
    line-height: 25px;
    background-color: #fff;
    transition: 0.5s;
}

.nav{
    position: fixed;
    width: 100%;
}

.nav a{
    text-decoration: none;
    color: #251d20;
}

.nav a:hover{
    text-decoration: underline;
}


nav{
    margin-left: 15px;
    padding-top: 20px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img{
    width: 260px;
}

.issue-6{
    scroll-snap-align: start;
  
}

.issue-5{

    scroll-snap-align: start;

}

.issue-4{

    scroll-snap-align: start;

}

.issue-3{

    scroll-snap-align: start;

}

.issue-2{

    scroll-snap-align: start;

}

.issue-1{
    padding-top: 40px;
    scroll-snap-align: end;
    padding-bottom: 40px;

}

.container{
    text-align: center;
    margin-inline: auto;
    padding-top: 45px;
    text-decoration: bold;
    font-size: 18px;

}

.issue-img{
    width:420px;
}




.w-caption{
    color: var(--issue-fc);
}

.p-caption{
    color: var(--issue-6-fc);
}



.container> a{
    display: inline-block;
}

.container p, .container a{
    margin-bottom: 18px;
}

.issue-fs{
    font-size: 15px;
    padding-top: 3px;
    line-height: 22px;
}

.content{
    /* position: fixed;
    z-index: 0; */
    bottom: 10px;
    width: 100%;
}
/* 
.content-container{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    padding-top: 20px;
    margin-right: 15px;
} */

footer{
    position: fixed;
    bottom: 10px;
    left: 15px;
    width: 320px;
    margin-bottom: 10px;
}

footer a {
    color: #251d20;
}

.caption{
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
}

.content-container a{
    text-decoration: underline;
}

.content-container a:hover{
    text-decoration: none;
    cursor: pointer;
}

.footer-nav{
    position: fixed;
    bottom: 10px;
    right:15px;
    padding-top: 42px;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: none;
}

.footer-nav ul li a{
    text-decoration: none;
}
.footer-nav ul li a:active{
    font-weight: 1000;
    text-decoration: underline;
}

.footer-nav ul li a:visited{
    color: #251d20;
}

.footer-nav ul li a:hover{
    font-weight: 1000;
    text-decoration: underline;
}
.mobile-email{
    padding-top: 20px;
    display: none;
}

@media (max-width:760px) {

    body{
        overflow: auto;
    }

    html{
    scroll-snap-type:none;
}

    nav img{
        width: 160px;
    }

    nav a{
        display: none;
    }

    .nav{
        position: relative;
    }

    .content{
        position: relative;
    }

    .content-container{
        display: block;
    }

    .footer-nav{
        display: none;
    }

    .mobile-email{
        display: block;
    }

    footer{
        position: relative;
        width: auto;
        padding-top: 80px;
        text-align: center;
        right: 0px;
        left: 0px;
        padding: 80px 0 0 0;
    }
    footer a{
        color: #251d20;
    }
    .footer-nav{
        position: relative;
    }
}